/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    position: relative;
    animation: backgroundChange 8s infinite alternate;
}

@keyframes backgroundChange {
    0% { background-color: white; }
    100% { background-color: #d3d3d3; }
}

#container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#toggleButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px; /* Rounder edges */
    transition: all 1s ease; /* Smooth size increase */
}

#toggleButton.clicked {
    background-color: black;
    color: white;
    border-color: white;
    transform: scale(1.5);
    animation: moveButton 0.5s infinite alternate;
}

@keyframes moveButton {
    0% { transform: translateX(-10px); }
    100% { transform: translateX(10px); }
}

.hidden {
    display: none;
}

#quoteContainer {
    display: none;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.word {
    position: absolute;
    animation: fadeInOut 1s linear; /* Faster transition */
    opacity: 0;
    transition: opacity 0.5s;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
