/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, white, #d3d3d3, white); /* Adjusted gradient */
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50px; /* Added border radius */
    transition: all 0.3s ease; /* Smooth transition */
}

.button.clicked {
    background-color: black; /* Changed background color */
    color: white; /* Changed text color */
}

.word {
    position: absolute;
    animation: fadeWord 2s ease-in-out forwards; /* Added animation for word fade */
}

@keyframes fadeWord {
    0% {
        opacity: 0; /* Start with opacity 0 */
    }
    50% {
        opacity: 1; /* Fade in */
    }
    100% {
        opacity: 0; /* Fade out */
    }
}
