/* styles.css */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff, #dddddd); /* Gradient background */
    animation: gradientTransition 4s ease infinite; /* Gradient animation */
}

@keyframes gradientTransition {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#toggleButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px; /* Rounder edges */
    transition: all 1s ease; /* Smooth size increase */
    position: relative; /* Ensure the button has a stacking context */
    z-index: 2; /* Ensure the button appears on top */
}

#quoteContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.hidden {
    display: none;
}

.bold-underline {
    text-decoration: underline;
    font-weight: bold;
}
